body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #333;
}

.game-name{
    color: #fff;
}

#score, #high-score {
    display: inline-block;
    width: 300px;
    color: #fff;
}